@page "/admin"
@attribute [Authorize(Policy = "Admin")]
@inject IIngredientData ingredientData
@inject IProductData productData
@inject ICustomerData customerData
@inject IOrderData orderData
@inject IOrderStatusData orderStatusData
@inject ICategoryData categoryData


@*<div class="container bg-white text-black">
    <div class="row"> 
        <div class="btn-group">
            <button class="btn btn-primary" >Products</button>
            <button class="btn btn-primary" >Orders</button>
        </div>
    </div>
    @if(true)
    {
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Available</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @if(products is not null)
                    {
                        @foreach (var product in products)
                        {
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-plaintext bg-white" @bind-value="product.Name" disabled="@IsEditDisabled(product.Name)" />
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-plaintext bg-white" @bind-value="product.Price" disabled="@IsEditDisabled(product.Name)" />
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" @bind="product.Available" disabled="@IsEditDisabled(product.Name)" />
                                    </div>
                                </td>
                                <td>
                                    @if (IsEditDisabled(product.Name))
                                    {
                                        <button class="btn btn-primary" @onclick="(() => SetWhichProductToEdit(product))">Edit</button>
                                        <button class="btn btn-danger" @onclick="(() => DeleteProduct(product))">Delete</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" @onclick="(() => EditProduct(product))">Submit</button>
                                        <button class="btn btn-danger" @onclick="(() => CancelEdit(product))">Cancel</button>
                                    }
                                </td>
                            </tr>
                        }                        
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        
    }
</div>*@

<div id="accordion" class="mt-4 ">
    <div class="card">
        <div class="card-header text-center" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link text-decoration-none text-uppercase" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2>Edit products</h2>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Available</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (products is not null)
                            {
                                @foreach (var product in products)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control form-control-plaintext bg-white" @bind="product.Name" disabled="@IsEditDisabled(product.Id)" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-plaintext bg-white" @bind="product.Price" disabled="@IsEditDisabled(product.Id)" />
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" @bind="product.Available" disabled="@IsEditDisabled(product.Id  )" />
                                            </div>
                                        </td>
                                        <td>
                                            @if (IsEditDisabled(product.Id))
                                            {
                                                <button class="btn btn-primary" @onclick="(() => SetWhichProductToEdit(product))">Edit</button>
                                                <button class="btn btn-danger" @onclick="(() => DeleteProduct(product))">Delete</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary" @onclick="(() => EditProduct(product))">Submit</button>
                                                <button class="btn btn-danger" @onclick="(() => CancelEdit(product))">Cancel</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header  text-center" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-decoration-none text-uppercase" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h2>Orders</h2>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Products</th>
                                <th scope="col">Total</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (orders is not null)
                            {
                                @foreach (var order in orders)
                                {
                                    <tr>
                                        <td>@order.Date_0</td>
                                        <td>
                                            @order.Customer.Address.City
                                            <br>
                                            @order.Customer.Address.Street
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @order.Products.Count
                                                    pcs
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    @foreach (var product in order.Products)
                                                    {
                                                        <a class="dropdown-item" href="#">@product.Name</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>@order.Total</td>
                                        <td>@PaymentMethode(order)</td>
                                        <td>@order.Description</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" style="width:150px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @order.OrderStatus.Name
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @foreach(var orderStatus in orderStatuses)
                                                {
                                                    <button class="dropdown-item" @onclick="(() => ChangeStatus(order, orderStatus))"> @orderStatus.Name</button>
                                                }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-decoration-none text-uppercase" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h2>Create Product</h2>
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-center justify-content-center">
                <div class="btn-group btn-group-lg p-2 w-75">
                    <button class="btn btn-primary" @onclick="(()=> CreateToggle(true))">Pizza</button>
                    <button class="btn btn-primary" @onclick="(()=> CreateToggle(false))">Drink</button>
                </div>
                @if(createToggle)
                {
                    <form>                    
                        <div class="form-floating mb-2">
                            <input type="text" id="name" class="form-control" placeholder="Name " @bind-value="newProduct.Name">
                            <label for="name" class="form-label">Name</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" id="price" class="form-control" placeholder="Price" @bind-value="newProduct.Price">
                            <label for="price" class="form-label">Price</label>
                        </div>

                        @if(ingredients is not null)
                        {
                            <div class="row row-cols-5">
                                
                                @foreach(var ingredient in ingredients)
                                {
                                    <div class="col">
                                        <div class="custom-control custom-checkbox list-group-item">
                                            <input class="custom-control-input" type="checkbox" @oninput="(()=> CheckboxChanged(ingredient))">
                                            <label class="cursor-pointer font-italic d-block custom-control-label">@ingredient.Name</label>
                                        </div>
                                    </div>
                                } 
                                
                            </div>
                        }
                        <button class="btn btn-primary w-100 mt-3" @onclick="CreatePizza">Create</button>
                    </form>
                }
                else
                {
                    <form>
                        <div class="form-floating mb-2">
                            <input type="text" id="name" class="form-control" placeholder="Name " @bind-value="newProduct.Name">
                            <label for="name" class="form-label">Name</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" id="price" class="form-control" placeholder="Price" @bind-value="newProduct.Price">
                            <label for="price" class="form-label">Price</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" id="price" class="form-control" placeholder="Price" @bind-value="newProductsSize">
                            <label for="price" class="form-label">Size</label>
                        </div>


                        <button class="btn btn-primary w-100 mt-3" @onclick="CreateDrink">Create</button>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header  text-center" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-decoration-none text-uppercase" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h2>Ingredients</h2>
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="row">

                </div>
                <div class="row">
                    <form>                    
                        <div class="form-floating mb-2">
                            <input type="text" id="name" class="form-control" placeholder="Name " @bind-value="newIngredient.Name">
                            <label for="name" class="form-label">Name</label>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" id="price" class="form-control" placeholder="Price" @bind-value="newIngredient.Price">
                            <label for="price" class="form-label">Price</label>
                        </div>
                        <button class="btn btn-primary w-100 mt-3" @onclick="CreateIngredient">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    //edit: name lose focus anomaly, validation/restrict
    //orders: sort

    private List<ProductModel> products;
    private List<OrderModel> orders;
    private List<OrderStatusModel> orderStatuses;
    private List<CategoryModel> categories;
    private List<IngredientModel> ingredients;

    bool createToggle = true; //true = create pizza


    string a = string.Empty;
    void nothing()
    {

    }


    protected async override Task OnInitializedAsync()
    {
        products = await productData.GetAllProducts();
        orders = await orderData.GetAllOrders();
        orderStatuses = await orderStatusData.GetAllOrderStatuses();
        categories = await categoryData.GetAllCategories();
        ingredients = await ingredientData.GetAllIngredients();
    }
    //CREATE
    CategoryModel newProductsCategory = new CategoryModel();
    string newProductsSize = string.Empty;
    ProductModel newProduct = new ProductModel();

    List<IngredientModel> newProductsIngredients = new List<IngredientModel>();    

    private async Task CreateDrink()
    {
        var product = new ProductDrinkModel();
        product.Name = newProduct.Name;
        product.Price = newProduct.Price;
        product.Size = newProductsSize;
        product.Available = true;
        await productData.CreateProduct(product);
    }

    private async Task CreatePizza()
    {
        var product = new ProductPizzaModel();
        product.Name = newProduct.Name;
        product.Price = newProduct.Price;
        product.Category = newProductsCategory;
        product.Ingrediens = newProductsIngredients;
        product.Available = true;
        await productData.CreateProduct(product);
    }

    IngredientModel newIngredient = new IngredientModel();
    private async Task CreateIngredient()
    {
        await ingredientData.CreateIngredient(newIngredient);
        newIngredient = new IngredientModel();
    }

    private void CheckboxChanged(IngredientModel ingredient)
    {
        if(newProductsIngredients.Contains(ingredient))
        {
            newProductsIngredients.Remove(ingredient);
        }
        else
        {
            newProductsIngredients.Add(ingredient);
        }
    }

    private void CreateToggle(bool b)
    {
        createToggle = b;
    }

    private void SetNewProductsCategory(CategoryModel category)
    {
        newProductsCategory = category;
    }

    //ORDERS
    private async Task ChangeStatus(OrderModel order, OrderStatusModel status)
    {
        order.OrderStatus = status;
        await orderData.UpdateOrderStatus(order);
    }

    private string PaymentMethode(OrderModel order)
    {
        return order.PaysWithCash ? "Cash" : "Card";
    }

    //EDIT
    private ProductModel editedProduct = new();
    private ProductModel productPreEdit = new();
    private void SetWhichProductToEdit(ProductModel product)
    {
        editedProduct = product;
        //ref
        productPreEdit = new ProductModel() {Id = product.Id, Available = product.Available, Category = product.Category, Name = product.Name.ToString(), Price = product.Price };
    }
    private bool IsEditDisabled(string productId)
    {
        return editedProduct.Id != productId;
    }

    private async Task DeleteProduct(ProductModel product)
    {        
        await productData.DeleteProduct(product);
        products.Remove(product);        
    }

    private async Task EditProduct(ProductModel product)
    {
        await productData.UpdateProduct(product);
        productPreEdit = new();
        editedProduct = new();
    }

    private void CancelEdit(ProductModel product)
    {
        int i = products.FindIndex(x => x.Id == product.Id);
        products[i].Name =  productPreEdit.Name;
        products[i].Price =  productPreEdit.Price;
        products[i].Available =  productPreEdit.Available;


        productPreEdit = new();
        editedProduct = new();       
        StateHasChanged();
    }

}
